/* Popup Container */
#my-popup {
    position: fixed;
    top:100px;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 99999999999 !important;
    display: none; /* Hidden by default */
    cursor: move; /* Indicate draggable */
    padding-top: 1rem; /* Add padding to make space for the close button */
    height: 20rem; /* Ensure the popup is not too tall */
    overflow-y: auto; /* Scroll if content overflows */
}

/* Header buttons */
#my-popup button {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
    margin-top: 0.5rem;
}

#my-popup button:hover {
    color: #007bff; /* Highlight color on hover */
}

#my-popup .close-btn {
    top: 10px;
    right: 10px;
}

#my-popup .copy-btn {
    top: 10px;
    right: 40px;
}

/* Popup Content */
#popup-content {
    padding: 1rem;
    overflow: auto;
}

#popup-content h1, h2, h3, h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #333;
}

#popup-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#popup-content li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
    color: #555;
}

#popup-content a {
    color: #007bff;
    text-decoration: none;
}

#popup-content a:hover {
    text-decoration: underline;
}

#popup-content img {
    max-width: 100%;
    height: auto;
}

/* Show Popup Button */
#show-popup-button {
    position: fixed;
    padding: 0.5rem;
    right: 20px;
    top: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    width: 3rem !important;
    height: 3rem !important;
    justify-content: center;
    font-size: 1.5rem;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #show-popup-button {
        /* width: 2.5rem !important; */
        /* height: 2.5rem !important; */
        font-size: 1.5rem;
    }
}

#show-popup-button:hover {
    background-color: #0056b3;
}

/* #show-popup-button i { } */

/* Loading Spinner */
#loading-spinner {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #007bff;
}

#loading-spinner i {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Button Styles */
.translate-btn {
    position: absolute;
    top: 10px;
    right: 70px; /* Adjust based on layout */
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.translate-btn:hover {
    color: #007bff; /* Change color on hover */
}

#language-select,#length-select {
    background: #fff;
    width: 5rem;
    height: max-content;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    padding: 0.1rem 0.5rem;
    outline: none;
    font-family: 'Arial', sans-serif;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    border-radius: 1rem;
    margin: 0 0 0 0.5rem;
}

/* Add this CSS to content.css */
.blur-background {
    filter: blur(5px);
    pointer-events: none; /* Disable interactions */
}